/* Global Styles */
body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #212121 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.navbar-brand {
    color: #00d4ff !important;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-size: 18px;
    font-weight: normal;
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #4caf50 !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    transform: scale(1.1);
}

/* Sidebar */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    background-color: #212121;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.6);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-container .nav-link {
    color: white !important;
    padding: 15px 20px;
    font-size: 18px;
}

.sidebar-container .nav-link:hover {
    background-color: #444;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    transform: translateX(5px);
}

.sidebar-container .nav-link.active {
    background-color: #00d4ff;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.6);
}

/* Graphs */
.graph {
    background-color: #333;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

/* Content Section */
.custom-content {
    padding: 30px;
    margin-left: 270px; /* Adjust based on sidebar width */
    background-color: #121212;
    color: white;
}

h1, h2, h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 768px) {
    .sidebar-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .sidebar-container.open {
        display: block;
    }

    .navbar-nav .nav-item {
        display: block;
        margin: 5px 0;
    }
}
